Processamento[[:space:]]de[[:space:]]Imagens/Prova/video/filme-1min.mp4 filter=lfs diff=lfs merge=lfs -text
/Processamento[[:space:]]de[[:space:]]Imagens/Prova/video/filme-1min.mp4 filter=lfs diff=lfs merge=lfs -text
